* {
    padding: 0;
    margin: 0;
}

.main {
    /* background-image: url(./images/sl_050620_30640_25.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 25px;
}

.title {
    /* color: #ffffff; */
    /* padding-left: 400px;
    padding-top: 400px; */
}